# FORMAT
# Put your extra requirements here in the following format
#
# package[version_required]: tag1, tag2, ...

yfinance>=0.1.63:           data, recommend
python-binance:             data
ccxt:                       data
tables:                     data
ta:                         ta
pandas_ta:                  ta
TA-Lib:                     ta, recommend
Bottleneck:                 compute
numexpr:                    compute, recommend
ray>=1.4.1:                 distribute
dask:                       distribute, recommend
matplotlib:                 plot, recommend
plotly>=4.12.0:             plot, recommend
ipywidgets>=7.0.0:          plot, recommend
quantstats>=0.0.37:         stats, recommend
PyPortfolioOpt:             stats, recommend
python-telegram-bot>=13.4:  notify
dill:                       io, recommend
pytest:                     test
pytest-cov:                 test
codecov:                    test
pdoc3:                      docs