:root {
    --md-default-bg-color--dark: #2b2e3b;
    --md-default-bg-color--darker: #252732;
    --md-default-bg-color--darkest: #1e2029;
    --md-default-bg-color--ultra-dark: #111217;
    --md-primary-fg-color: #ff6e42;
    --md-primary-fg-color--light: #ff8a66;
    --md-primary-fg-color--dark: #f4511f;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0, 0%, 100%, .7);
    --md-progress: #546d78;
    --md-progress-stripe: rgba(0, 0, 0, 0.2);
}

::marker {
    color: var(--md-default-fg-color--lighter);
}

.md-header {
    background-color: var(--md-default-bg-color--darkest);
    border-bottom: 0.05rem solid #4051b5;
}

.md-tabs {
    background-color: rgba(64, 81, 181, 0.3);
}

.dobjtype {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 80%;
    color: var(--md-default-fg-color--lighter) !important;
}

.githublink {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 80%;
    color: var(--md-default-fg-color--lighter) !important;
}

.githublink:hover {
    color: var(--md-accent-fg-color) !important;
}

@media screen and (max-width: 59.9375em) {
    .md-nav__source {
        background-color: var(--md-default-bg-color--darker);
    }
}

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: var(--md-default-bg-color--darker);
    }
}

/* Progress Bars */
.progress {
    display: block;
    width: 300px;
    margin: 10px 0;
    height: 24px;
    background-color: var(--md-default-fg-color--lightest);
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .1);
}

.progress-label {
    position: absolute;
        width: 100%;
        margin: 0;
        color: var(--md-text-color);
        font-weight: 700;
        font-size: 80%;
        line-height: 1.4rem;
        white-space: nowrap;
        text-align: center;
        text-shadow:
            -0.0625em -0.0625em 0.375em
            var(--md-default-bg-color--light),
            0.0625em -0.0625em 0.375em
            var(--md-default-bg-color--light),
            -0.0625em 0.0625em 0.375em
            var(--md-default-bg-color--light),
            0.0625em 0.0625em 0.375em
            var(--md-default-bg-color--light);
}

.progress-bar {
    height: 24px;
    float: left;
    background-color: var(--md-progress);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.candystripe .progress-bar {
    background-size: 2rem 2rem;
    background-image: -webkit-linear-gradient(
        135deg, var(--md-progress-stripe) 27%,
        transparent 27%,
        transparent 52%, var(--md-progress-stripe) 52%,
        var(--md-progress-stripe) 77%,
        transparent 77%, transparent
    );
    background-image: -moz-linear-gradient(
        135deg,
        var(--md-progress-stripe) 27%, transparent 27%,
        transparent 52%, var(--md-progress-stripe) 52%,
        var(--md-progress-stripe) 77%, transparent 77%,
        transparent
    );
    background-image: -ms-linear-gradient(
        135deg,
        var(--md-progress-stripe) 27%, transparent 27%,
        transparent 52%, var(--md-progress-stripe) 52%,
        var(--md-progress-stripe) 77%, transparent 77%,
        transparent
    );
    background-image: -o-linear-gradient(
        135deg,
        var(--md-progress-stripe) 27%, transparent 27%,
        transparent 52%, var(--md-progress-stripe) 52%,
        var(--md-progress-stripe) 77%, transparent 77%,
        transparent
    );
    background-image: linear-gradient(
        135deg,
        var(--md-progress-stripe) 27%, transparent 27%,
        transparent 52%, var(--md-progress-stripe) 52%,
        var(--md-progress-stripe) 77%, transparent 77%,
        transparent
    );
}

.candystripe-animate .progress-bar {
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
    animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

@-moz-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}
